@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset veya custom stiller */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}
